<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>

<div class="comp-cont">
  <form name="groupForm" #groupForm="ngForm">

    <mat-card class="form-cont">
      <div class="title">
        <h3>Información personal</h3>
        <mat-divider></mat-divider>
      </div>

      <div class="form-cont">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="personal.datPer.nombre" name="nombre" appUppercase required>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput placeholder="Apellido Paterno" [(ngModel)]="personal.datPer.appat" name="appat" appUppercase required>
          <mat-hint></mat-hint>
        </mat-form-field>
    </div>

    <div class="form-cont">
        <mat-form-field appearance="fill">
          <mat-label>Apellido Materno</mat-label>
          <input matInput placeholder="Apellido Materno" [(ngModel)]="personal.datPer.apmat" name="apmat" appUppercase required>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" [(ngModel)]="personal.datPer.fecnac" name="fecnac" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

        <div class="form-cont">
        <mat-form-field appearance="fill">
          <mat-select placeholder="Sexo" [(ngModel)]="personal.datPer.sexo" name="sexo" [compareWith]="this.compareWithEntidadesFederativas" >
            <mat-option *ngFor="let en of this.sexo" [value]="en" >{{en.sexo}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>RFC</mat-label>
          <input matInput placeholder="RFC" [(ngModel)]="personal.datPer.rfc" name="rfc" appUppercase >
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>

      <div class="form-cont">
        <mat-form-field appearance="fill">
          <mat-label>CURP</mat-label>
          <input matInput placeholder="CURP" [(ngModel)]="personal.datPer.curp" name="curp" appUppercase >
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-select placeholder="Estado Civil" [(ngModel)]="personal.datPer.estadoCivil" name="estadoCivil" [compareWith]="this.compareWithEntidadesFederativas" >
            <mat-option *ngFor="let en of estadoCivil" [value]="en" >{{en.estadoCivil}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-cont">
        <mat-form-field appearance="fill">
          <mat-label>Escolaridad</mat-label>
          <mat-select placeholder="Escolaridad" [(ngModel)]="personal.datPer.escolaridad" name="escolaridad" [compareWith]="this.compareWithEntidadesFederativas" >
            <mat-option *ngFor="let en of escolaridad" [value]="en" >{{en.escolaridad}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dependientes Ecónomicos</mat-label>
          <mat-select placeholder="Dependientes Ecónomico" [(ngModel)]="personal.datPer.depeco" name="depeco" [compareWith]="this.compareWithEntidadesFederativas" >
            <mat-option *ngFor="let en of depeco" [value]="en" >{{en.depeco}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card>

    <mat-card class="form-cont">
      <div class="title">
        <h3>Adjunta Fotografia</h3>
        <mat-divider></mat-divider>
      </div>

      <!-- <app-action-bar class="title" [bntConf]="{new:true}" (new)="cargarDocumento()"></app-action-bar> -->

      <div class="span-cols">

         <input type="file" class="span-cols" id="input-custom-file" (change)="onFileChange($event)" name="uploadedFiles">

      </div>
    </mat-card>

  </form>

  <form name="groupForm" #groupForm="ngForm">

    <mat-card class="form-cont">
      <div class="title">
        <h3>Información empleo</h3>
        <mat-divider></mat-divider>
      </div>

      <div class="form-cont">
        <mat-form-field appearance="fill">
          <mat-label>Número de empleado</mat-label>
          <input matInput placeholder="1154110" [(ngModel)]="personal.No_empleado" name="No_empleado" required>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo nómina</mat-label>
          <input matInput placeholder="1, 8, 5, etc" [(ngModel)]="personal.Tipo_nomina" name="Tipo_nomina" >
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Código de puesto</mat-label>
          <input matInput placeholder="A146464" [(ngModel)]="personal.Cod_puesto" name="Cod_puesto" >
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nombre del puesto</mat-label>
          <input matInput placeholder="Asesor" [(ngModel)]="personal.Nom_puesto" name="Nom_puesto" >
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>

    </mat-card>

  </form>
  
</div>


