<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>

<div class="comp-cont">
  <form [formGroup]="form">
    <mat-card class="content">

      <div class="span-row">
        <h4>Etiquetas</h4>
        <mat-divider class="span-row"></mat-divider>
      </div>

      <mat-form-field appearance="outline" class="span-row">
        <mat-label>Etiquetas</mat-label>
        <input matInput placeholder="Placeholder" formControlName="nombre">
        <mat-hint></mat-hint>
      </mat-form-field>

    </mat-card>
  </form>
</div>
