
<mat-card-header>
    <div mat-card-avatar class="text" ></div>
    <mat-card-title id="card" style="text-align: center;">
        <FONT SIZE=5>
            <p><strong>
        DIRECCIÓN GENERAL DE COORDINACIÓN Y OPERACIONES</strong>
        <p>
            </FONT>
    </mat-card-title>
</mat-card-header>

<mat-card-content>
    <p>
    </p>
</mat-card-content>

<mat-card-actions>
    <button (click)="exportAsXLSX()" type="submit" mat-flat-button color="primary"
        style="font-size:15px;color: white;margin-right:15px" 
        mat-button>Descargar Excel</button>
    <button (click)="generatePdf()" type="submit" mat-flat-button color="primary" 
    style="font-size:15px;color: white; margin-right:10px"
        mat-button>Descargar PDF</button>
</mat-card-actions>
<p></p>
<p></p>
<!--<mat-card-actions>
<div class="button">
    <button (click)="exportAsXLSX()" type="submit" mat-raised-button color="primary"
    style="font-size:15px;color: whitesmoke"
    mat-button>Descargar Excel</button>
<p></p>
<p></p>
</div>
</mat-card-actions>

<mat-card-actions>
    <div class="button">
        <button (click)="generatePdf()" type="submit" mat-raised-button color="primary"
            style="font-size:15px;color: whitesmoke" mat-button>Descargar PDF</button>
        <p></p>
        <p></p>
    </div>
</mat-card-actions>-->


<!--<ag-grid-angular #agGrid style="width: 100%; height: 200px;" id="myGrid" -->
<!--        class="ag-theme-balham"-->
<!--        [columnDefs]="columnDefs" -->
<!--        [defaultColDef]="defaultColDef" -->
<!--        [rowData]="rowData" [floatingFilter]="true"-->
<!--        ui-grid-selection ui-grid-exporter-->
<!--        [rowSelection]="rowSelection" -->
<!--        (gridReady)="onGridReady($event)"></ag-grid-angular>-->
