
<div style="grid-column: 1/-1; padding-top: 25px;">

    <span
      style="grid-column: 1/-1"
      class="title-01">
    FECHA DE RETENCIÓN DEL VEHÍCULO: {{this.vehi.fechaRetencion | date:'dd/MM/yyyy HH:mm'}}
    </span>

    <div class="newattr ">
      <span
        class="title-01">
          PLACA / MATRÍCULA: {{this.vehi.placa}}
      </span>

      <span
        style="margin-left: 10px;"
        class="title-01">
          MARCA: {{this.vehi.marca}}
      </span>

      <span
        style="margin-left: 10px;"
        class="title-01">
          SUBMARCA: {{this.vehi.submarca}}
      </span>

      <span
        style="margin-left: 10px;"
        class="title-01">
        MODELO: {{this.vehi.modelo}}
      </span>
    </div>

    <span
      style="grid-column: 1/-1"
      class="title-01">
    OBSERVACIONES: {{this.vehi.observaciones}}
    </span>
    <br />
    <span
      style="grid-column: 1/-1"
      class="title-01">
    DESTINO QUE SE LE DIO: {{this.vehi.destino}}
    </span>




<!--    <span-->
<!--      style="grid-column: 1/-1"-->
<!--      class="title-01">-->
<!--    NO. DE SERIE: {{this.fechaDetencion | date:'dd/MM/yyyy HH:mm'}}-->
<!--    </span>-->

<!--    <span-->
<!--      style="grid-column: 1/-1"-->
<!--      class="title-01">-->
<!--    TIPO DE VEHÍCULO: {{this.fechaDetencion | date:'dd/MM/yyyy HH:mm'}}-->
<!--    </span>-->

<!--    <span-->
<!--      style="grid-column: 1/-1"-->
<!--      class="title-01">-->
<!--    PROCEDENCIA: {{this.fechaDetencion | date:'dd/MM/yyyy HH:mm'}}-->
<!--    </span>-->



<!--    -->



<!--    <span-->
<!--      style="grid-column: 1/-1"-->
<!--      class="title-01">-->
<!--    COLOR: {{this.fechaDetencion | date:'dd/MM/yyyy HH:mm'}}-->
<!--    </span>-->

<!--    <span-->
<!--      style="grid-column: 1/-1"-->
<!--      class="title-01">-->
<!--    OBSERVACIONES: {{this.fechaDetencion | date:'dd/MM/yyyy HH:mm'}}-->
<!--    </span>-->
<!--    -->
<!--    <span style="grid-column: 1/-1" class="title-02">{{this.nombreCompleto}}</span>-->
<!--    <span class="title-03 two-line" style="grid-column: 1/-1">DESCRIPCIÓN: {{this.descripcion}}</span>-->
<!--    <div class="newattr ">-->
<!--      <span class="title-03">FECHA DE NACIMIENTO: {{this.fechaNacimiento | date:'dd/MM/yyyy'}} ({{this.edad}} años)</span>-->
<!--      <span class="title-03">SEXO: {{this.sexo}}</span>-->
<!--      <span class="title-03"> NACIONALIDAD: {{this.nacionalidad}}</span>-->
<!--    </div>-->


</div>
