<form [formGroup]="form">
  <mat-card class="grid-c06-01">
    <div class="span-cols title">
      <h3>Información del detenido</h3>
      <mat-divider></mat-divider>
    </div>

    <!-- FECHA DE LA DETENCION ===================== -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha detencion" formControlName="fechaDetencion">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-time-input #timeInput [hora]="this.hora" [minutos]="this.minutos"></app-time-input>

    <!-- NOMBRE DEL DETENIDO =================================== -->
    <ng-container formGroupName="datPer">
      <mat-form-field appearance="outline" style="grid-column: 1/3;">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Nombres" formControlName="nombre">
      </mat-form-field>
      <mat-form-field appearance="outline" style="grid-column: 3/5;">
        <mat-label>Apellido paterno</mat-label>
        <input matInput placeholder="Apellido paterno" formControlName="appat">
      </mat-form-field>
      <mat-form-field appearance="outline" style="grid-column: 5/-1;">
        <mat-label>Apellido materno</mat-label>
        <input matInput placeholder="Apellido materno" formControlName="apmat">
      </mat-form-field>
      <mat-form-field appearance="outline" style="grid-column: 1/3; margin: 0;">
        <mat-select placeholder="Sexo" formControlName="sexo">
          <mat-option *ngFor="let en of this.sexos" [value]="en" >{{en.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="grid-column: 3/5;">
        <input matInput [matDatepicker]="picker2" placeholder="Fecha nacimiento" formControlName="fecnac" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" style="grid-column: 5/7;">
        <mat-select placeholder="Nacionalidad" formControlName="nacionalidad">
          <mat-option *ngFor="let en of this.nacionalidad" [value]="en" >{{en.nom}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="grid-column: 1/4;">
        <mat-label>Apodos</mat-label>
        <input matInput placeholder="Apodos" formControlName="alias">
      </mat-form-field>
    </ng-container>

  </mat-card>

  <mat-card class="grid-c06-01">
    <div class="span-cols title">
      <h3>Domicilio del detenido</h3>
      <mat-divider></mat-divider>
    </div>
    <app-direccion-form class="span-cols" #domicilio></app-direccion-form>
  </mat-card>

  <mat-card class="grid-c06-01">
    <div class="span-cols title">
      <h3>Primer(os) respondiente(s) que realizó la detención</h3>
      <mat-divider></mat-divider>
    </div>

    <div class="btn-tool">
      <button mat-raised-button color="primary"  class="bnt-mapa" (click)="this.onShowDlgPrimerResp($event)" style="margin-right: 10px;">Agregar</button>
    </div>

      <app-std-grid2
        #gridPrimerResp
        class="span-cols"
        style="height: 300px"
        [stdColConfig]="this.grid1ColConfig"
        [sourceData]="this.grid1SourceData"
        [userColDefs]="this.grid1ColDefs"
        (removeRow)="this.grid1DeleteRow($event)"
      >
      </app-std-grid2>

  </mat-card>


</form>
