<div class="full-page">
  <mat-card class="login-card">
    <mat-card-title class="title text-center" style="color: rgb(3, 0, 0)">
      Bienvenido
    </mat-card-title>

<form class="form-mat" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <input matInput type="text" placeholder="Usuario" [(ngModel)]="user.correo" name="correo" style="color: black">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" [(ngModel)]="user.pwd" name="pwd" style="color: black">
    </mat-form-field>
  </p>

  <div class="button">
    <button type="submit" mat-raised-button color="primary" mat-button>Login</button>
    <p></p><span style="color: rgb(3, 3, 3)">{{errorMsg}}</span>
  </div>

    </form>
  </mat-card>
</div>
