<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>

<div class="comp-cont">
  <form [formGroup]="form">

<mat-card class="form-cont">
    <div class="title">
      <h3>Recepción del evento</h3>
      <mat-divider></mat-divider>
    </div>
      <ng-container formGroupName="certificado" >
          <ng-container formGroupName="registro" >
      <mat-form-field>
          <mat-label>Folio de Evento</mat-label>
          <input matInput placeholder="Folio Evento" formControlName="folioInterno">
          <mat-hint></mat-hint>
        </mat-form-field>
      </ng-container>
    </ng-container>
    
    <ng-container formGroupName="certificado" >
    <ng-container formGroupName="estatus" >
        <mat-form-field>
          <mat-label>Estatus</mat-label>
          <input matInput placeholder="Estatus"  formControlName="nom">
        </mat-form-field>
      </ng-container>
    </ng-container>
</mat-card>

    <mat-card class="form-cont">
      <div class="title">
        <h3>Datos del Detenido</h3>
        <mat-divider></mat-divider>
      </div>
      
<ng-container formGroupName="certificado" >
    <ng-container formGroupName="registro" >
        <ng-container formGroupName="datPer" >
        <mat-form-field appearance="outline">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput placeholder="Apellido Paterno"  formControlName="appat">
          </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Apellido Materno</mat-label>
            <input matInput placeholder="Apellido Materno"  formControlName="apmat">
          </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre"  formControlName="nombre">
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Alias</mat-label>
            <input matInput placeholder="Alias" formControlName="alias">
            <mat-hint></mat-hint>
          </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container formGroupName="certificado" >
      <ng-container formGroupName="registro" >
          <ng-container formGroupName="datPer" >
            <mat-form-field>
              <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="fecnac" value="Edad()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </ng-container>

  <ng-container formGroupName="certificado" >
      <ng-container formGroupName="registro" >
      <mat-form-field>
          <mat-label>Edad</mat-label>
          <input matInput placeholder="Edad" formControlName="edad">
          <mat-option *ngFor="let en of this.edad" [value]="en" >{{en.Edad}}</mat-option>
          <mat-hint></mat-hint>
        </mat-form-field>
      </ng-container>
    </ng-container>

        <ng-container formGroupName="certificado" >
            <ng-container formGroupName="registro" >
                <ng-container formGroupName="datPer" >
                <ng-container formGroupName="sexo">
                    <mat-form-field>
                        <mat-label>Sexo</mat-label>
                        <input matInput placeholder="Sexo"  formControlName="nom">
                      </mat-form-field>
                    </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

        <p></p>  

        <ng-container formGroupName="certificado" >
            <ng-container formGroupName="registro" >
                <ng-container formGroupName="datPer" >
                    <ng-container formGroupName="nacionalidad">
                        <mat-form-field>
                          <mat-label>Nacionalidad</mat-label>
                          <input matInput placeholder="Nacionalidad" formControlName="nom">
                        </mat-form-field>
                        </ng-container>


          <ng-container formGroupName="entidadNacimiento">
              <mat-form-field>
                <mat-label>Lugar de Nacimiento</mat-label>
                <input matInput placeholder="Lugar de Nacimiento" formControlName="nomOf">
              </mat-form-field>
              </ng-container>
      </ng-container>
    </ng-container>
    </ng-container>


<!-- <ng-container formGroupName="certificado" >
    <ng-container formGroupName="registro" > 
        <mat-form-field appearance="outline">
            <mat-label>Escolaridad</mat-label>
            <input matInput placeholder="Escolaridad"  formControlName="escolaridad">
          </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Ocupación</mat-label>
            <input matInput placeholder="Ocupación"  formControlName="ocupacion">
          </mat-form-field>
      </ng-container>
    </ng-container> -->
</mat-card>

<mat-card class="form-cont">
    <div class="title">
      <h3>Domicilio del Detenido</h3>
      <mat-divider></mat-divider>
    </div>
    <ng-container formGroupName="certificado" >
        <ng-container formGroupName="registro" >
            <ng-container formGroupName="domicilio" >
  <mat-form-field>
      <mat-label>Calle</mat-label>
      <input matInput placeholder="Calle" formControlName="calle">
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Número Interior</mat-label>
        <input matInput placeholder="Número Interior" formControlName="numInt">
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Número Exterior</mat-label>
          <input matInput placeholder="Número Exterior" formControlName="numero">
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Colonia</mat-label>
            <input matInput placeholder="Colonia" formControlName="colonia">
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
              <mat-label>Código Postal</mat-label>
              <input matInput placeholder="Código Postal"  formControlName="cp">
            </mat-form-field>

        <ng-container formGroupName="entidad">
            <mat-form-field>
              <mat-label>Entidad Federativa</mat-label>
              <input matInput placeholder="Entidad Federativa" formControlName="nomOf">
            </mat-form-field>
            </ng-container>
        
            <ng-container formGroupName="municipio">
              <mat-form-field>
                <mat-label>Municipio</mat-label>
                <input matInput placeholder="Municipio" formControlName="nomOf">
              </mat-form-field>
              </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-card>

    <mat-card class="form-cont">
      <div class="title">
        <h3>Datos del Certificado</h3>
        <mat-divider></mat-divider>
      </div>
  
<ng-container formGroupName="certificado" >
    <ng-container formGroupName="registro" >      
      <mat-form-field>
        <mat-select placeholder="Tipo de Certificado" formControlName="tcertificado">
          <mat-option *ngFor="let en of this.tcertificado" [value]="en" >{{en.nom}}</mat-option>
        </mat-select>
      </mat-form-field>

        <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecer">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <mat-form-field>
          <mat-select placeholder="Práctica" formControlName="practica">
            <mat-option *ngFor="let en of this.practica" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>    

        <mat-form-field>
          <mat-select placeholder="Aliento" formControlName="aliento">
            <mat-option *ngFor="let en of this.aliento" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Grado" formControlName="grado">
            <mat-option *ngFor="let en of this.grado" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Otros</mat-label>
          <input matInput placeholder="Otros"  formControlName="otros">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Intoxicación" formControlName="intetil">
            <mat-option *ngFor="let en of this.intetil" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Pupilas</mat-label>
          <input matInput placeholder="Pupilas"  formControlName="pupilas">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Marcha" formControlName="marcha">
            <mat-option *ngFor="let en of this.marcha" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Lenguaje</mat-label>
          <input matInput placeholder="Lenguaje"  formControlName="lenguaje">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado"  formControlName="estado">
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-cols">
          <mat-label>Actitud</mat-label>
          <textarea matInput placeholder="Leave a comment" rows="1" formControlName="actitud"></textarea>
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Tipos de Toxicomania" formControlName="toxicomania">
            <mat-option *ngFor="let en of this.toxicomania" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Toxicomania</mat-label>
          <input matInput placeholder="Toxicomania"  formControlName="toxi">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Alcoholismo" formControlName="alcoholismo">
            <mat-option *ngFor="let en of this.alcoholismo" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Alergias" formControlName="alergias">
            <mat-option *ngFor="let en of this.alergias" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Alergias</mat-label>
          <input matInput placeholder="Alergias"  formControlName="alerg">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Enfermedades Crónicodegenerativas" formControlName="enfermedades">
            <mat-option *ngFor="let en of this.enfermedades" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enfermedades Crónicodegenerativas</mat-label>
          <input matInput placeholder="Enfermedades Crónicodegenerativas"  formControlName="enfcro">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Presión Arterial</mat-label>
          <input matInput placeholder="Presión Arterial"  formControlName="parterial">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Frecuencia Cardiaca</mat-label>
          <input matInput placeholder="Frecuencia Cardiaca"  formControlName="fcardiaca">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Frecuencia Respiratoria</mat-label>
          <input matInput placeholder="Frecuencia Respiratoria"  formControlName="frespiratoria">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Temperatura</mat-label>
          <input matInput placeholder="Temperatura"  formControlName="temperatura">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Reflejos Pupilares</mat-label>
          <input matInput placeholder="Reflejos Pupilares"  formControlName="rpupilares">
        </mat-form-field>

    <div class="form-cont span-cols">
        <mat-form-field>
          <mat-select placeholder="Orofaringe" formControlName="orofaringe">
            <mat-option *ngFor="let en of this.orofaringe" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Orofaringe</mat-label>
          <input matInput placeholder="Orofaringe"  formControlName="orofa">
        </mat-form-field>
    </div>

    <div class="form-cont span-cols">
        <mat-form-field>
          <mat-select placeholder="Cardiopulmonar" formControlName="cardiopul">
            <mat-option *ngFor="let en of this.cardiopul" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cardiopulmonar</mat-label>
          <input matInput placeholder="Cardiopulmonar"  formControlName="cardio">
        </mat-form-field>
    </div>

    <div class="form-cont span-cols">
        <mat-form-field>
          <mat-select placeholder="Abdomen" formControlName="abdomen">
            <mat-option *ngFor="let en of this.abdomen" [value]="en" >{{en.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Abdomen</mat-label>
          <input matInput placeholder="Abdomen"  formControlName="abdo">
        </mat-form-field>
    </div>

    <div class="form-cont span-cols">
      <mat-form-field>
        <mat-select placeholder="Genitales" formControlName="genitales">
          <mat-option *ngFor="let en of this.genitales" [value]="en" >{{en.nom}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Alteraciones" formControlName="alteraciones">
          <mat-option *ngFor="let en of this.alteraciones" [value]="en" >{{en.nom}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="span-cols">
          <mat-label>Alteraciones</mat-label>
        <textarea matInput placeholder="Alteraciones" rows="1" formControlName="alter"></textarea>
        <mat-hint></mat-hint>
      </mat-form-field>
  </div>

  <div class="form-cont span-cols">
    <mat-form-field>
      <mat-select placeholder="Extremidades" formControlName="extremidades">
        <mat-option *ngFor="let en of this.extremidades" [value]="en" >{{en.nom}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Extremidades</mat-label>
      <input matInput placeholder="Extremidades"  formControlName="extre">
    </mat-form-field>
</div>

<div class="form-cont span-cols">
  <mat-form-field>
    <mat-select placeholder="Lesiones" formControlName="lesiones">
      <mat-option *ngFor="let en of this.lesiones" [value]="en" >{{en.nom}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Lesiones</mat-label>
    <input matInput placeholder="Lesiones"  formControlName="lesi">
  </mat-form-field>
</div>

<mat-form-field appearance="outline" class="span-cols">
  <mat-label>Tatuajes</mat-label>
  <textarea matInput placeholder="Descripción de Tatujes" rows="1" formControlName="tatuajes"></textarea>
  <mat-hint></mat-hint>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Perforaciones" formControlName="perforaciones">
    <mat-option *ngFor="let en of this.perforaciones" [value]="en" >{{en.nom}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Perforaciones</mat-label>
  <input matInput placeholder="Perforaciones"  formControlName="perfo">
</mat-form-field>

<mat-form-field appearance="outline" class="span-cols">
  <mat-label>Observaciones</mat-label>
  <textarea matInput placeholder="Observaciones" rows="2" formControlName="observaciones"></textarea>
  <mat-hint></mat-hint>
</mat-form-field>
</ng-container>
</ng-container>
  </mat-card>

  <mat-card class="form-cont">
    <div class="title">
      <h3>Datos de quien Certifica</h3>
      <mat-divider></mat-divider>
    </div>

    <ng-container formGroupName="certificado" >
        <ng-container formGroupName="registro" >    
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="ncertifica">
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cédula Profesional</mat-label>
        <input matInput placeholder="Cédula Profesional" formControlName="cedula">
        <mat-hint></mat-hint>
      </mat-form-field>
    </ng-container>
  </ng-container>


      <div class="datetime-cont">
    <ng-container formGroupName="certificado" >
        <ng-container formGroupName="registro" >    
        <mat-form-field> <input matInput [matDatepicker]="picker1" 
          placeholder="Fecha de Término" formControlName="feter"> 
          <mat-datepicker-toggle matSuffix [for]="picker1">
          </mat-datepicker-toggle> <mat-datepicker #picker1></mat-datepicker> </mat-form-field>
        
        <app-time-input #timeComp></app-time-input>
      </ng-container>
    </ng-container>
      </div>

  </mat-card>

  </form>
</div>
