:host {
  margin: 0px;
  padding: 0px;

  display: grid;
  height: 100vh;
  grid-template-columns: auto minmax(0,1fr);  
  grid-template-rows: 0px minmax(0,1fr);

  .loader {
    grid-column: 1/-1;
  }

  .app-sidenav {
    display: grid;
    grid-template-rows: 80px minmax(0,1fr) 60px;
    width: 300px;
    //background-color: rgb(91, 109, 244);
    //background-image: url(../assets/imgs/side-nav-bg-01.png);
    background: linear-gradient(135deg, rgb(66, 117, 219) , rgb(0, 225, 255));
    
    //filter:  hue-rotate(270deg);
    //filter:  hue-rotate(270deg);
    background-size:cover;

    .main-logo {
      //background-image: url(../assets/imgs/main-logo.png);
      //background-color: rgb(91, 109, 244);
      background-image: url(../assets/imgs/logo.png);
      background-repeat: no-repeat;
      background-size: 2cm 2.2cm;
      padding-top: 0cm;
      padding-bottom: 0cm;
    
      width: 300px;
      height: 300px;
     
      justify-content: center;
      background-position: 2.5cm 0;

      img {
        width: 0%;
        height: 0%;
      }
    }

    .user-info {
      display: grid;
      grid-template-columns: 25px minmax(0px,1fr);
      align-items: center;
      background-color: black;
      color: gainsboro;
      font-size: 10pt;
      font-family: Arial;

      .user-info-text {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      }
    }
  }

  .app-content {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: 0px minmax(0,1fr) 0px;
    background-color: #f9f9f9;
  //color: white;
    //-webkit-box-shadow: -2px 7px 10px 1px rgba(0,0,0,0.42);
    //box-shadow: -2px 7px 10px 1px rgba(0,0,0,0.42);
  }
}

.login-cont {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 0px minmax(0,1fr) 0px;
}


