<!--<div class="app-toolbar">-->
<!--  <div class="loader">-->
<!--    <app-loader></app-loader>-->
<!--  </div>-->
<!--  <span class="title">Sistema de Acuerdos</span>-->
<!--  <div class="botton-set">-->
<!--    <i class="material-icons md-light">account_box</i>-->
<!--    <i class="material-icons md-light">more_vert</i>-->
<!--  </div>-->
<!--</div>-->

<div class="loader">
  <app-loader></app-loader>
</div>

  <div class="app-sidenav" *ngIf="this.loginSrv.isLogged()">
<!--  <div class="app-sidenav" *ngIf="true">-->
    <div class="main-logo">
      <img src="../assets/main-logo.png">
    </div>
  
    <app-side-nav></app-side-nav>
  
    <div class="user-info" (click) = 'this.loggout()'>
      <div>
        <i class="material-icons md-light">account_box</i>
      </div>
      <div class="user-info-text">
        <span>{{getUser()}}</span>
      </div>
    </div>
  </div>
<!-- <div *ngIf="showMenu()">

</div> -->
<div [ngClass]="{'app-content': this.loginSrv.isLogged(), 'login-cont': !this.loginSrv.isLogged() }">
<!--<div [ngClass]="{'app-content': true, 'login-cont': !true }">-->
  <router-outlet></router-outlet>
</div>

<!-- <div class="login-cont" *ngIf="!this.loginSrv.isLogged()">
  <router-outlet></router-outlet> 
</div> -->
