<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>
<mat-tab-group class="tabs" [selectedIndex]="1">
  <mat-tab label="Evento de Seguridad">
    <app-evento-form #evento></app-evento-form>
  </mat-tab>
  <mat-tab label="IPH Justicia Cívica">
    <app-iphadm-form #preiph></app-iphadm-form>
  </mat-tab>
  <mat-tab label="Puesta a disposición">
    <app-iphad-puesta #puesta></app-iphad-puesta>
  </mat-tab>
</mat-tab-group>

<!--<app-action-bar2-->
<!--  #actionBar2Comp-->
<!--  [showActions]="this.showActionList"-->
<!--  [titles]="this.titlesList"-->
<!--  (actionClicked)="onActionClicked($event)"-->
<!--  class="span-cols"-->
<!--&gt;-->
<!--</app-action-bar2>-->

<!--<div class="comp-cont">-->
<!--&lt;!&ndash;  <form [formGroup]="form">&ndash;&gt;-->
<!--  <form>-->
<!--    <span>test</span>-->

<!--&lt;!&ndash;    <mat-card class="form-cont">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="title">&ndash;&gt;-->
<!--&lt;!&ndash;        <h3>Registro de Vehículos</h3>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-divider></mat-divider>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Clave Interna</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput placeholder="Número económico" formControlName="numEco">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-hint></mat-hint>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Placas</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput placeholder="Número de placas" formControlName="placa">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-hint></mat-hint>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select placeholder="Tipo de Vehículo" formControlName="tipoVehi">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option *ngFor="let en of this.tipos" [value]="en" >{{en.nom}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select placeholder="Marca" formControlName="marca">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option *ngFor="let en of this.marcas" [value]="en" >{{en.nom}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Modelo</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput placeholder="Modelo (año)" formControlName="modelo">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-hint></mat-hint>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Vehículo</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput placeholder="Vehículo" formControlName="vehiculo">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-hint></mat-hint>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select placeholder="Uso" formControlName="uso">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option *ngFor="let en of this.usos" [value]="en" >{{en.nom}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Número de Serie</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput placeholder="Número de Serie" formControlName="numSerie">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-hint></mat-hint>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Número de Motor</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input matInput placeholder="Número de Motor" formControlName="numMotor">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-hint></mat-hint>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select placeholder="Estado del Vehículo" formControlName="estatus">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option *ngFor="let en of this.estatus" [value]="en" >{{en.nom}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;      <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-select placeholder="GPS" formControlName="gps">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-option *ngFor="let en of this.gpss" [value]="en" >{{en}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--  </form>-->
<!--</div>-->
