:host {
  display: grid;
  padding: 10px;
}

.grid-c06-01 {
  margin-top: 10px;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: 50px;
  align-items: center;
  //grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  //grid-template-columns: repeat(6, minmax(auto, 1fr));
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);

}

.span-cols {
  grid-column: 1/-1;
}

.datetime-cont {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.mat-form-field-wrapper {
  margin: 0 !important;
  padding-bottom: 5px !important;
  height: 50px !important;
}

.title {
  margin-bottom: 15px;
}

.btn-tool {
  grid-column: 1/-1;
  display: flex;
}

