<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>

<div class="comp-cont">
  <form name="groupForm" #groupForm="ngForm">

    <mat-card class="form-cont">
      <div class="title">
        <h3>Registro de Terminales</h3>
        <mat-divider></mat-divider>
      </div>

      <mat-form-field>
        <mat-select placeholder="Tipo" [(ngModel)]="terminal.tipo" name="tipo" [compareWith]="this.compareWithTipos"  (ngModelChange)="onSelectionChange(terminal.tipo, 'T', 'UI')">
          <mat-option *ngFor="let en of tipos" [value]="en">{{en.tipo}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Institución" [(ngModel)]="terminal.institucion" name="institucion" [compareWith]="this.compareWithTipos" (ngModelChange)="onSelectionChange(terminal.institucion, 'I', 'UI')">
          <mat-option *ngFor="let in of instituciones" [value]="in">{{in.institucion}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sede" [(ngModel)]="terminal.sede" name="sede" [compareWith]="this.compareWithTipos" (ngModelChange)="onSelectionChange(terminal.sede, 'S', 'UI')">
          <mat-option *ngFor="let se of sedes" [value]="se">{{se.sede}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="terminal.tipo['tipo']=='MUNICIPAL'">
        <mat-select placeholder="Municipio" [(ngModel)]="terminal.municip" name="municip" [compareWith]="this.compareWithTipos">
          <mat-option *ngFor="let mu of municipios" [value]="mu">{{mu.municip}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="span-row">
          <mat-label>Nombre Dispositivo</mat-label>
        <input matInput placeholder="Nombre" [(ngModel)]="terminal.nombres" name="nombres">
        <mat-hint></mat-hint>
      </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Id Termina" [(ngModel)]="terminal.uuid" name="uuid" [disabled]="true" >
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="span-row">
              <mat-label>Marca</mat-label>
            <input matInput placeholder="Marca" [(ngModel)]="terminal.marca" name="marca">
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="span-row">
              <mat-label>Número de Inventario</mat-label>
            <input matInput placeholder="Número de Inventario" [(ngModel)]="terminal.noInventario" name="noInventario" >
            <mat-hint></mat-hint>
          </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="PIN" [(ngModel)]="terminal.noAleatorio" name="noAleatorio" [disabled]="true" >
            <mat-hint></mat-hint>
          </mat-form-field>

          <mat-form-field>
<!--            <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fechagenpinmax">-->
<!--            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker></mat-datepicker>-->
            <input matInput placeholder="Fecha de vigencia del PIN" [(ngModel)]="terminal.fechagenpinmax" name="fechagenpinmax" [disabled]="true" >
            <mat-hint></mat-hint>
          </mat-form-field>

  </mat-card>

  <mat-card class="form-cont">
    <div class="title">
      <h3>Asignar Usuario</h3>
      <mat-divider></mat-divider>
    </div>

    <app-action-bar class="title" [bntConf]="{new:true}" (new)="this.newIntegrante()"></app-action-bar>
    <app-std-grid2 class="title" style="height: 80px" #gridIntes [stdColConfig]="gridIntesColConfig"
    [sourceData]="usuario" [userColDefs]="gridIntesColDefs" (editRow)="gridIntesEditRow($event)"
    (removeRow)="gridIntesRemoveRow($event)">
  </app-std-grid2>
    <!-- <app-std-grid2 class="title" style="height: 120px"
          #gridIntes
          [stdColConfig]="this.gridIntesColConfig"
          [sourceData]="usuarioss"
          [userColDefs]="this.gridIntesColDefs"
          (editRow)="this.gridIntesEditRow($event)"
          (removeRow)="this.gridIntesRemoveRow($event)">
    </app-std-grid2> -->

  </mat-card>

  </form>
</div>
