<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>

<div class="comp-cont">
  <form [formGroup]="form">

    <mat-card class="form-cont">
      <div class="title">
        <h3>Incidentes</h3>
        <mat-divider></mat-divider>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Clave interna</mat-label>
        <input matInput placeholder="Clave interna" formControlName="cve" appUppercase>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre del incidente</mat-label>
        <input matInput placeholder="Nombre del incidente" formControlName="incidente" appUppercase>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre corto</mat-label>
        <input matInput placeholder="Nombre corto" formControlName="nomCort" appUppercase>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="span-row">
        <mat-label>Descripción</mat-label>
        <textarea matInput placeholder="Descripción" rows="3" formControlName="descripcion"></textarea>
        <mat-hint></mat-hint>
      </mat-form-field>
    </mat-card>

  </form>
</div>
