<form  [formGroup]="this.form">
  <mat-card class="content">

    <div class="span-row">
      <h4>Institución</h4>
      <mat-divider class="span-row"></mat-divider>
    </div>

    <mat-form-field appearance="outline" class="span-row">
      <mat-label>Institución</mat-label>
      <input matInput placeholder="Placeholder" formControlName="inst">
      <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="span-row">
      <mat-label>Siglas / Abrevación</mat-label>
      <input matInput placeholder="Placeholder" formControlName="abr">
      <mat-hint></mat-hint>
    </mat-form-field>

  </mat-card>
</form>
