<form [formGroup]="form">
  <mat-card class="grid-c06-01">
    <div class="span-cols title">
      <h3>Fecha y hora de la puesta a disposición</h3>
      <mat-divider></mat-divider>
    </div>

    <ng-container formGroupName="puestaDisposicion">
    <!-- FECHA DE LA DETENCION ===================== -->
    <mat-form-field appearance="outline" style="grid-column: 1/3;">
      <mat-label>Fecha de la puesta a disposición</mat-label>
      <input matInput
             laceholder="Fecha puesta a disposición"
             formControlName="puestaDisp"
             [value] = "this.form.get('puestaDisposicion').get('puestaDisp').value | date:'dd/MM/yyyy HH:mm:ss'" >
    </mat-form-field>

<!--    <app-time-input #timeInput style="grid-column: 3/5;"></app-time-input>-->

    <!-- NOMBRE DEL DETENIDO =================================== -->
      <mat-form-field appearance="outline" style="grid-column: 1/3;">
        <mat-label>No. Expediente</mat-label>
        <input matInput placeholder="No. Expediente" formControlName="noExp">
      </mat-form-field>
      <mat-form-field appearance="outline" style="grid-column: 3/5;">
        <mat-label>Unidad de arribo</mat-label>
        <input matInput placeholder="Unidad de arribo" formControlName="unidadArribo">
      </mat-form-field>
<!--      <mat-form-field appearance="outline" style="grid-column: 5/-1;">-->
<!--        <mat-label>Apellido materno</mat-label>-->
<!--        <input matInput placeholder="Apellido materno" formControlName="apmat">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="outline" style="grid-column: 1/4;">-->
<!--        <mat-select placeholder="Institución a la que pertenece" formControlName="institucion">-->
<!--          <mat-option *ngFor="let en of this.instituciones" [value]="en" >{{en.nom}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="outline" style="grid-column: 4/-1;">-->
<!--        <mat-label>Cargo / Grado</mat-label>-->
<!--        <input matInput placeholder="Cargo / Grado" formControlName="grado">-->
<!--      </mat-form-field>-->

    </ng-container>

  </mat-card>

  <mat-card class="grid-c06-01">
    <div class="span-cols title">
      <h3>Autoridad que recibe</h3>
      <mat-divider></mat-divider>
    </div>

    <ng-container formGroupName="puestaDisposicion">
    <!-- NOMBRE DEL DETENIDO =================================== -->
      <mat-form-field appearance="outline" style="grid-column: 1/3;">
        <mat-label>Autoridad que recibe</mat-label>
        <input matInput placeholder="Autoridad que recibe" formControlName="autoridadRecibe">
      </mat-form-field>
      <mat-form-field appearance="outline" style="grid-column: 3/5;">
        <mat-label>Adscripción recibe</mat-label>
        <input matInput placeholder="Adscripción recibe" formControlName="adscripcionRecibe">
      </mat-form-field>
      <mat-form-field appearance="outline" style="grid-column: 5/-1;">
        <mat-label>Cargo recibe</mat-label>
        <input matInput placeholder="Cargo recibe" formControlName="cargoRecibe">
      </mat-form-field>

<!--      <mat-form-field appearance="outline" style="grid-column: 1/4;">-->
<!--        <mat-label>Cargo</mat-label>-->
<!--        <input matInput placeholder="Cargo" formControlName="cargo">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="outline" style="grid-column: 4/-1;">-->
<!--        <mat-label>Adscripción</mat-label>-->
<!--        <input matInput placeholder="Adscripción" formControlName="adscripcion">-->
<!--      </mat-form-field>-->
    </ng-container>
  </mat-card>
</form>
