<app-action-bar2
  #actionBar2Comp
  [showActions]="this.showActionList"
  [titles]="this.titlesList"
  (actionClicked)="onActionClicked($event)"
  class="span-cols"
>
</app-action-bar2>
<div class="comp-cont">
  <form [formGroup]="cnspForm">

    <mat-card class="form-cont">
      <div class="title">
        <h3>Recepción del evento</h3>
        <mat-divider></mat-divider>
      </div>


  <ng-container formGroupName="objetos" >
    <ng-container formGroupName="registro" >
      <mat-form-field appearance="outline">
          <mat-label>Folio Evento</mat-label>
          <input matInput placeholder="Folio Evento"  formControlName="folioInterno">
        </mat-form-field>
      </ng-container>
    </ng-container>
    
      <div class="title">
        <h3>Datos del Detenido</h3>
        <mat-divider></mat-divider>
      </div>

      <ng-container formGroupName="objetos" >
        <ng-container formGroupName="registro" >
            <ng-container formGroupName="datPer" >
      <mat-form-field appearance="outline">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput placeholder="Apellido Paterno"  formControlName="appat">
        </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Apellido Materno</mat-label>
          <input matInput placeholder="Apellido Materno"  formControlName="apmat">
        </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre"  formControlName="nombre">
        </mat-form-field>
  </ng-container>
</ng-container>
</ng-container>

    <div class="title">
      <h3>Domicilio del Detenido</h3>
      <mat-divider></mat-divider>
    </div>  
        <ng-container formGroupName="objetos" >
        <ng-container formGroupName="registro" >
            <ng-container formGroupName="domicilio" >
      <mat-form-field appearance="outline">
          <mat-label>Calle</mat-label>
          <input matInput placeholder="Calle"  formControlName="calle">
        </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Número Interior</mat-label>
          <input matInput placeholder="Número Interior"  formControlName="numInt">
        </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Número Exterior</mat-label>
          <input matInput placeholder="Número Exterior"  formControlName="numero">
        </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Colonia</mat-label>
          <input matInput placeholder="Colonia"  formControlName="colonia">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Código Postal</mat-label>
            <input matInput placeholder="Código Postal"  formControlName="cp">
          </mat-form-field>

        <ng-container formGroupName="entidad">
            <mat-form-field>
              <mat-label>Entidad Federativa</mat-label>
              <input matInput placeholder="Entidad Federativa" formControlName="nomOf">
            </mat-form-field>
            </ng-container>
        
            <ng-container formGroupName="municipio">
              <mat-form-field>
                <mat-label>Municipio</mat-label>
                <input matInput placeholder="Municipio" formControlName="nomOf">
              </mat-form-field>
              </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

    </mat-card>

    <mat-card class="form-cont">
        <div class="title">
          <h3>Registro de Objetos</h3>
          <mat-divider></mat-divider>
        </div>
        <ng-container formGroupName="objetos" >
        <ng-container formGroupName="registro" >

        <mat-form-field>
            <mat-select placeholder="Celular" formControlName="celular">
              <mat-option *ngFor="let en of this.celular" [value]="en" >{{en.nom}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descripción Celular</mat-label>
            <input matInput placeholder="Descripción Celular"  formControlName="descel">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Cartera" formControlName="cartera">
              <mat-option *ngFor="let en of this.cartera" [value]="en" >{{en.nom}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descripción Cartera</mat-label>
            <input matInput placeholder="Descripción Cartera"  formControlName="descart">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Reloj" formControlName="reloj">
              <mat-option *ngFor="let en of this.reloj" [value]="en" >{{en.nom}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Descripción Reloj</mat-label>
            <input matInput placeholder="Descripción Reloj"  formControlName="desreloj">
          </mat-form-field>

          <mat-form-field appearance="outline" class="span-cols">
            <mat-label>Observaciones</mat-label>
            <textarea matInput placeholder="Observaciones" rows="2" formControlName="observaciones"></textarea>
            <mat-hint></mat-hint>
          </mat-form-field>

              </ng-container>
            </ng-container>

      </mat-card>

  </form>

</div>
